// FormGroup{
//     display: flex;
//     align-items: center;
// }
// Dropdown{
//     flex: '1';
// }
// TextInput{
//     flex: '1';
// }
// Button{
//     flex:'1'
// }

.component-container {
    display: flex;
    align-items: center;
    padding: 0 100px;
  }

  .dropdown {
    width:10%;
  }
  
  .text-input {
    width:auto;
  }
  
  .button {
    width: 10%;
  }

.tab-container{
    padding: 0 100px;
}

.query-params{
    width: 60%;
    }
    .render-form{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 2%;
    
    }
    .add-button{
        padding-top: 1%;
    }
.header-params{
    width: 60%;
    }
    .render-form{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 2%;
    
    }
    .add-button{
        padding-top: 1%;
    }

.response{
    padding: 0 100px;
    }

    .xi{
      padding-top: 2%;
      display: flex;  
    }
        .xo{
            padding-right: 5%;
        }
    
    .table{
        display: flex;
        align-self: center;
    }

.loading{
    padding:0 150px;
}